<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 legal">
        <span>© 2017 NoData Ltd.</span>
      </div>

      <div class="col-xs-6 social">
        <a href="https://github.com/vitorfs/parsifal" target="_blank" data-toggle="tooltip" title="" data-placement="top" data-      original-title="Github"><span class="fa fa-github"></span></a>
        <a href="https://twitter.com/parsif_al" target="_blank" data-toggle="tooltip" title="" data-placement="top" data-original-   title="Twitter"><span class="fa fa-twitter"></span></a>
        <a href="https://youtube.com/ParsifalReviews/" target="_blank" data-toggle="tooltip" title="" data-placement="top" data-     original-title="Youtube"><span class="fa fa-youtube"></span></a>
        <a href="https://plus.google.com/+ParsifalReviews/" target="_blank" data-toggle="tooltip" title="" data-placement="top"      data-original-title="Google+"><span class="fa fa-google-plus"></span></a>
      </div>
    </div>
  </div>
</nav>
