<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8" />
  <title><%=: title %></title>
  <!-- Bootstrap -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen" />
  <!-- <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"> -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <link href="/stylesheets/mystyle.css" rel="stylesheet">
  <link href="/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css">
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
 </head>

<body>

<% include header.html %>

  <div class="container full-height">

    <div class="row">
      <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="public-form-container">
     <div class="public-form-logo"><a href="https://www.cluvio.com/"> <img src="/img/nodata.png" class="logo small" /> </a></div>
     <div class="form-title">Welcome to nodata</div>
     <div class="form-subtitle">No problem, just enter your email address and we'll send you a reset link.</div>

     <form class="form" action="/register" method="post">

       <div class="form-group">
        <label for="username">UserName</label>
        <input required="" placeholder="UserName" id="input-email" name="username" class="form-control input-email ember-text-field ember-view" type="text" />
       </div>


      <div class="form-group">
       <label for="email">Email</label>
       <input required="" placeholder="Email" id="input-email" name="email" class="form-control input-email ember-text-field ember-view" type="email" />
      </div>

      <div class="form-group">
       <label for="email">Password</label>
       <input required="" placeholder="Password" id="input-email" name="password" class="form-control input-email ember-text-field ember-view" type="password" />
      </div>

      <div class="form-group">
       <label for="email">Confirm Your Password</label>
       <input required="" placeholder="Password" id="input-email" name="repassword" class="form-control input-email ember-text-field ember-view" type="password" />
      </div>

      <div class="row middle-sm middle-xs">
       <div class="col-sm-8 col-xs-8">
        <button type="submit" class="btn btn-primary">Sign up</button>
       </div>
      </div>
     </form>
    </div>

    <div class="form-footnote">
  Already have a account ? &nbsp;
  <a href="/login" id="ember370" class="ember-view">Login</a>
</div>

  </div>
  <div class="col-md-2"></div>
    </div>
  </div>

  <% include footer.html %>
</body>


</html>
